In [7]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn import preprocessing
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression, Ridge, Lasso

#from sklearn.model_selection import LinearRegression , Ridge,Lasso
from sklearn.metrics import recall_score

In [14]:
data = pd.read_csv('car-mpg.csv')
data

,mpg,cyl,disp,hp,wt,acc,yr,origin,car_type,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,0,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,0,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,0,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,0,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,0,ford torino
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,1,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,1,chevy s-10

In [13]:
data = data.drop(['car_name'],axis =1)
data['origin']= data['origin'].replace({1:'america',2:'europe',3:'asia'})
data = pd.get_dummies(data,columns= ['origin'],dtype=int)
daat = data.replace('?',np.nan)
data= data.apply(lambda x:x.fillna(x.median()),axis=0)

TypeError: Cannot convert ['130' '165' '150' '150' '140' '198' '220' '215' '225' '190' '170' '160'
 '150' '225' '95' '95' '97' '85' '88' '46' '87' '90' '95' '113' '90' '215'
 '200' '210' '193' '88' '90' '95' '?' '100' '105' '100' '88' '100' '165'
 '175' '153' '150' '180' '170' '175' '110' '72' '100' '88' '86' '90' '70'
 '76' '65' '69' '60' '70' '95' '80' '54' '90' '86' '165' '175' '150' '153'
 '150' '208' '155' '160' '190' '97' '150' '130' '140' '150' '112' '76'
 '87' '69' '86' '92' '97' '80' '88' '175' '150' '145' '137' '150' '198'
 '150' '158' '150' '215' '225' '175' '105' '100' '100' '88' '95' '46'
 '150' '167' '170' '180' '100' '88' '72' '94' '90' '85' '107' '90' '145'
 '230' '49' '75' '91' '112' '150' '110' '122' '180' '95' '?' '100' '100'
 '67' '80' '65' '75' '100' '110' '105' '140' '150' '150' '140' '150' '83'
 '67' '78' '52' '61' '75' '75' '75' '97' '93' '67' '95' '105' '72' '72'
 '170' '145' '150' '148' '110' '105' '110' '95' '110' '110' '129' '75'
 '83' '100' '78' '96' '71' '97' '97' '70' '90' '95' '88' '98' '115' '53'
 '86' '81' '92' '79' '83' '140' '150' '120' '152' '100' '105' '81' '90'
 '52' '60' '70' '53' '100' '78' '110' '95' '71' '70' '75' '72' '102' '150'
 '88' '108' '120' '180' '145' '130' '150' '68' '80' '58' '96' '70' '145'
 '110' '145' '130' '110' '105' '100' '98' '180' '170' '190' '149' '78'
 '88' '75' '89' '63' '83' '67' '78' '97' '110' '110' '48' '66' '52' '70'
 '60' '110' '140' '139' '105' '95' '85' '88' '100' '90' '105' '85' '110'
 '120' '145' '165' '139' '140' '68' '95' '97' '75' '95' '105' '85' '97'
 '103' '125' '115' '133' '71' '68' '115' '85' '88' '90' '110' '130' '129'
 '138' '135' '155' '142' '125' '150' '71' '65' '80' '80' '77' '125' '71'
 '90' '70' '70' '65' '69' '90' '115' '115' '90' '76' '60' '70' '65' '90'
 '88' '90' '90' '78' '90' '75' '92' '75' '65' '105' '65' '48' '48' '67'
 '67' '67' '?' '67' '62' '132' '100' '88' '?' '72' '84' '84' '92' '110'
 '84' '58' '64' '60' '67' '65' '62' '68' '63' '65' '65' '74' '?' '75' '75'
 '100' '74' '80' '76' '116' '120' '110' '105' '88' '85' '88' '88' '88'
 '85' '84' '90' '92' '?' '74' '68' '68' '63' '70' '88' '75' '70' '67' '67'
 '67' '110' '85' '92' '112' '96' '84' '90' '86' '52' '84' '79' '82'] to numeric

In [10]:
data

,mpg,cyl,disp,hp,wt,acc,yr,car_type,origin_america,origin_asia,origin_europe
0,18.0,8,307.0,130,3504,12.0,70,0,1,0,0
1,15.0,8,350.0,165,3693,11.5,70,0,1,0,0
2,18.0,8,318.0,150,3436,11.0,70,0,1,0,0
3,16.0,8,304.0,150,3433,12.0,70,0,1,0,0
4,17.0,8,302.0,140,3449,10.5,70,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,1,0,0
394,44.0,4,97.0,52,2130,24.6,82,1,0,0,1
395,32.0,4,135.0,84,2295,11.6,82,1,1,0,0
396,28.0,4,120.0,79,2625,18.6,82,1,1,0,0
397,31.0,4,119.0,82,2720,19.4,82,1,1,0,0

In [15]:
data = data.drop(['car_name'], axis = 1)
data['origin'] = data['origin'].replace({1: 'america', 2: 'europe', 3: 'asia'})
data = pd.get_dummies(data,columns = ['origin'],dtype=int)
data = data.replace('?', np.nan)
data = data.apply(lambda x: x.fillna(x.median()), axis = 0)

TypeError: Cannot convert ['130' '165' '150' '150' '140' '198' '220' '215' '225' '190' '170' '160'
 '150' '225' '95' '95' '97' '85' '88' '46' '87' '90' '95' '113' '90' '215'
 '200' '210' '193' '88' '90' '95' nan '100' '105' '100' '88' '100' '165'
 '175' '153' '150' '180' '170' '175' '110' '72' '100' '88' '86' '90' '70'
 '76' '65' '69' '60' '70' '95' '80' '54' '90' '86' '165' '175' '150' '153'
 '150' '208' '155' '160' '190' '97' '150' '130' '140' '150' '112' '76'
 '87' '69' '86' '92' '97' '80' '88' '175' '150' '145' '137' '150' '198'
 '150' '158' '150' '215' '225' '175' '105' '100' '100' '88' '95' '46'
 '150' '167' '170' '180' '100' '88' '72' '94' '90' '85' '107' '90' '145'
 '230' '49' '75' '91' '112' '150' '110' '122' '180' '95' nan '100' '100'
 '67' '80' '65' '75' '100' '110' '105' '140' '150' '150' '140' '150' '83'
 '67' '78' '52' '61' '75' '75' '75' '97' '93' '67' '95' '105' '72' '72'
 '170' '145' '150' '148' '110' '105' '110' '95' '110' '110' '129' '75'
 '83' '100' '78' '96' '71' '97' '97' '70' '90' '95' '88' '98' '115' '53'
 '86' '81' '92' '79' '83' '140' '150' '120' '152' '100' '105' '81' '90'
 '52' '60' '70' '53' '100' '78' '110' '95' '71' '70' '75' '72' '102' '150'
 '88' '108' '120' '180' '145' '130' '150' '68' '80' '58' '96' '70' '145'
 '110' '145' '130' '110' '105' '100' '98' '180' '170' '190' '149' '78'
 '88' '75' '89' '63' '83' '67' '78' '97' '110' '110' '48' '66' '52' '70'
 '60' '110' '140' '139' '105' '95' '85' '88' '100' '90' '105' '85' '110'
 '120' '145' '165' '139' '140' '68' '95' '97' '75' '95' '105' '85' '97'
 '103' '125' '115' '133' '71' '68' '115' '85' '88' '90' '110' '130' '129'
 '138' '135' '155' '142' '125' '150' '71' '65' '80' '80' '77' '125' '71'
 '90' '70' '70' '65' '69' '90' '115' '115' '90' '76' '60' '70' '65' '90'
 '88' '90' '90' '78' '90' '75' '92' '75' '65' '105' '65' '48' '48' '67'
 '67' '67' nan '67' '62' '132' '100' '88' nan '72' '84' '84' '92' '110'
 '84' '58' '64' '60' '67' '65' '62' '68' '63' '65' '65' '74' nan '75' '75'
 '100' '74' '80' '76' '116' '120' '110' '105' '88' '85' '88' '88' '88'
 '85' '84' '90' '92' nan '74' '68' '68' '63' '70' '88' '75' '70' '67' '67'
 '67' '110' '85' '92' '112' '96' '84' '90' '86' '52' '84' '79' '82'] to numeric

In [16]:
X=data.drop(['mpg'],axis=1)
y= data[['mpg']]

In [18]:
X_s = preprocessing.scale(X)
X_s = pd.DataFrame(X_s,columns= X.columns)

y_s = preprocessing.scale(y)
y_s = pd.DataFrame(y_s,columns= y.columns)

In [19]:
X_s

,cyl,disp,hp,wt,acc,yr,car_type,origin_america,origin_asia,origin_europe
0,1.498191,1.090604,0.664133,0.630870,-1.295498,-1.627426,-1.062235,0.773559,-0.497643,-0.461968
1,1.498191,1.503514,1.574594,0.854333,-1.477038,-1.627426,-1.062235,0.773559,-0.497643,-0.461968
2,1.498191,1.196232,1.184397,0.550470,-1.658577,-1.627426,-1.062235,0.773559,-0.497643,-0.461968
3,1.498191,1.061796,1.184397,0.546923,-1.295498,-1.627426,-1.062235,0.773559,-0.497643,-0.461968
4,1.498191,1.042591,0.924265,0.565841,-1.840117,-1.627426,-1.062235,0.773559,-0.497643,-0.461968
...,...,...,...,...,...,...,...,...,...,...
393,-0.856321,-0.513026,-0.480448,-0.213324,0.011586,1.621983,0.941412,0.773559,-0.497643,-0.461968
394,-0.856321,-0.925936,-1.364896,-0.993671,3.279296,1.621983,0.941412,-1.292726,-0.497643,2.164651
395,-0.856321,-0.561039,-0.532474,-0.798585,-1.440730,1.621983,0.941412,0.773559,-0.497643,-0.461968
396,-0.856321,-0.705077,-0.662540,-0.408411,1.100822,1.621983,0.941412,0.773559,-0.497643,-0.461968
397,-0.856321,-0.714680,-0.584501,-0.296088,1.391285,1.621983,0.941412,0.773559,-0.497643,-0.461968

In [20]:
y_s

          mpg
0   -0.706439
1   -1.090751
2   -0.706439
3   -0.962647
4   -0.834543
..        ...
393  0.446497
394  2.624265
395  1.087017
396  0.574601
397  0.958913

[398 rows x 1 columns]

In [ ]:
X_train,X_test,y_train,y_test = train